*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(209, 207, 207);
}
body{
    background-color: rgb(49, 49, 49);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sigmar', cursive;
    height: 2000px;
    scroll-behavior: smooth;
   
}

/* ANİMATİONNN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* .animation{
    background-color: orange;


} */
.box{
    width: 75% ;
    margin: auto;
    height: 150px;
    background-color: rgb(0,79,50);   
    animation-name: alperen;
    position: absolute;
    animation-duration: 3s;
    top:0;
    right: 0;
    animation-fill-mode: both;

    /* BUNLARI BAŞLIK GÖVDE VE SON OLARAK ARALARDAKİ ÇUBUKLAR OLARAK KULLAN */
    
}
@keyframes alperen {
    0%{
       
        left: 0;
        top: 0;
       
    }
    100%{
       
        left: 0;
        top: 540px ;
        
        
    }
}
.boxabout{
    width: 75% ;
    margin: auto;
    height: 150px;
    background-color: rgb(0,79,50);   
    animation-name: murat;
    position: absolute;
    animation-duration: 3s;
    top:0;
    right: 0;
    animation-fill-mode: both;

    /* BUNLARI BAŞLIK GÖVDE VE SON OLARAK ARALARDAKİ ÇUBUKLAR OLARAK KULLAN */
    
}
@keyframes murat {
    0%{
       
        left: 0;
        top: 0;
       
    }
    100%{
       
        left: 0;
        top: 1050px ;
        
        
    }
}
.boxblog{
    width: 75% ;
    margin: auto;
    height: 150px;
    background-color: rgb(0,79,50);   
    animation-name: humus;
    position: absolute;
    animation-duration: 3s;
    top:0;
    right: 0;
    animation-fill-mode: both;

    /* BUNLARI BAŞLIK GÖVDE VE SON OLARAK ARALARDAKİ ÇUBUKLAR OLARAK KULLAN */
    
}
@keyframes humus {
    0%{
       
        left: 0;
        top: 0;
       
    }
    100%{
       
        left: 0;
        top: 1680px ;
        
        
    }
}


.group1 .bi-arrow-90deg-right{
 animation-name:gurup1 ;   
 animation-iteration-count: infinite;
 animation-delay: 1s;
 animation-duration: 4s;
 
}
@keyframes gurup1{
    from{
        opacity: 1;
    }
    to{opacity: 0;
    }
}
.group1 .bi-arrow-90deg-up{
    animation-name:gurup2 ;   
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-duration: 4s;
    
   }
   @keyframes gurup2{
       from{
           opacity: 1;
       }
       to{opacity: 0;
       }
   }
   .group2 .bi-arrow-90deg-up{
    animation-name:gurup3 ;   
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-duration: 4s;
    
   }
   @keyframes gurup3{
       from{
           opacity: 1;
       }
       to{opacity: 0;
       }
   }
   .group2 .bi-arrow-90deg-right{
    animation-name:gurup4 ;   
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 4s;
    
   }
   @keyframes gurup4{
       from{
           opacity: 1;
       }
       to{opacity: 0;
       }
   }






/* NAVVVBAAARRRRR!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

nav{
    width: 75%;
    font-family: 'Kanit', sans-serif;
    margin: auto;
   border-bottom:2px solid red ;
    
}
.navbar{
    width: 100%;
    
    margin: auto;
    display: flex;
    margin-top: 1rem;
   
}
.navleft{
    width: 15%;
    
    
}
.navbar i{
    width: 85%;
    display: none;
    font-size: 300%;
    
}

.navleft h1 {
    color: white;
    font-size: 300%;
}
.navleft h1 a{
    text-decoration: none;
}
.navbar ul li a:hover :first-child{
    color: red !important;
}

.navright{
    width: 85%;
    
    text-align: end;
}
.navright ul li{
    display: inline-block;
    margin-top: 1rem;
   
}
.navright ul li a{
    color: red;
    text-decoration: none;
    margin-left: 2rem;
    font-size:130% ;
}
.navright ul li a:hover{
    color: rgb(0,79,50);
}

.mainword a{
   color: white !important ;
  
}

/* HELLOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* HELLOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */
/* HELLOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

section{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Sigmar', cursive;
   
    display: flex;
  
    width: 75%;
   justify-content: space-between;
    margin: auto;
}
.hellopic{
    width: 39%;
    margin-top: 3rem;
    background-image: url(https://cdn.dribbble.com/users/1551609/screenshots/6681276/snakedev-dribbble_4x.png);
    background-position: center;
    background-size: cover;
    height: 400px;
    
    
}

.hellobox{
width: 60%;
margin-top: 3rem;
text-align: center;
overflow: hidden;
position: relative;

}
.box1{
    width: 150px;
    height: 150px;
    background-color: rgb(0,79,50);
    position: absolute;
    top: -70px;
    left: -70px;
    border-radius: 100%;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: rgb(0,79,50);
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 100%;
}
.hellobox p{
    padding-top: 2rem;
}
.hellominipic{
   
    background-image: url(https://elementor.com/cdn-cgi/image/f=auto,w=1201,h=629/marketing/wp-content/uploads/sites/9/2021/07/29.06.2021_11-BEST-BOOKS-TO-LEARN-WEB-DEVELOPMENT_BLOG-07.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
    position: relative;
    bottom: -80px;
    right: 0;
    
   
    
    
}

.invisible{
    width: 75%;
    height: 150px;
}
 /* ABOUT US!!!!!!!!!!!!!!! */
 /* ABOUT US!!!!!!!!!!!!!!! */
 /* ABOUT US!!!!!!!!!!!!!!! */
.aboutus{
    display: block;
}
.container{
    padding: 1rem;
    /* border: 2px solid rgb(17, 17, 17); */
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    
}
.aboutleft{
    margin-left: 2rem;
    width: 60%;

}
.aboutleft h1{
    font-size: 300%;
}
.aboutleft p{
    width: 60%;
    text-align: left;
    padding-top: 2rem;
}
.aboutlearnmore{
    text-align: center;
}
.aboutlearnmore a{
    text-decoration: none;
    font-size: 120%;
    color: grey;
}


.aboutright{
    width: 40%;
    background-color: rgb(27, 27, 27);
}
.aboutright i{
    font-size: 700%;
    margin: auto;
}
.group2{
    display: flex;
}
.group2 .bi-arrow-90deg-right{
    transform: rotate(270deg);
    
}
.group2 .bi-arrow-90deg-up{

transform: rotate(270deg);
}
.group1{
    display: flex;
}
.group1 .bi-arrow-90deg-up{
   
    transform: rotate(90deg);

}
.group1 .bi-arrow-90deg-right{
    
    transform: rotate(90deg);
}


/* BLOG!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* BLOG!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* BLOG!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.invisible2{
    width: 75%;
    height: 150px;
}

.blogcontainer{

    width: 100%;
}
.blog{
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}
.blogleft{
width: 50%;
text-align: center;

}
.blogleft h1{
    font-size: 300%;
}
.blogleft p{
    padding: 2rem;
}


.social ul li{
    display: inline-block;
    font-size: 200%;
    margin-left: 2rem;
}

.button{
    margin-top: 1rem;
    width: 100%;
    background-color: red;
}
.button a{
    font-size: 150%;
    text-decoration: none;
}

/* .blogright{
    
    display: flex;
} */
.groups{
    display: flex;
}

.pot{
    width: 200px;
    height: 200px;
   background-position: center;
   background-size: cover;
    margin-left: 1rem;
    margin: 1rem;
    
    
}

.e1{
    background-image: url(resimler/ba.bmp);
}
.e4{
    background-image: url(resimler/perf.bmp);
}
.e5{
    background-image: url(resimler/tol.bmp);
}
.e7{
    background-image: url(resimler/hw.bmp);
}

/* CONTACT!!! */
/* CONTACT!!! */
/* CONTACT!!! */




.invisible3{
    width: 75%;
    height: 150px;
}
.contactcontainer{
    margin: auto;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
}
.contactleft{
    width: 50%;
    
}
.contactright{
    width: 30%;
}
#name{
    font-size: larger;
    color: black;
    margin-left: .3rem;
    margin-top: 1rem;
    
   
    
}
#surname{
    font-size: larger;
    color: black;
    margin-left: .2rem;
    margin-top: 1rem;
   
}
#mail{
    font-size: larger;
    color: black;
    margin-top: 1rem;
}
#pass{
    font-size: larger;
    color: black;
    margin-top: 1rem;
}
.submit{
    font-size: larger;
    margin-left: 2rem;
    background-color: rgb(0,79,50);
}
/* .contactmid{
    width: 20%;
    border: 2px solid red;
} */








@media screen and (max-width: 974px)  {
    /* NAVBARR */
    /* NAVBARR */
    /* NAVBARR */
    .box{
        display: none;
    }
    .navright{
        display: none;
    }
    .navbar{
        display: flex;
        width: 100%;
    }
    .navbar i{
        display:block;
       text-align: end;
       margin: auto;
       margin-left: 3rem;
    }
    /* HELLOO */
    /* HELLOO */
    /* HELLOO */
section{
    display: block;
    width: 100%;
}

.hellopic,.hellobox,nav{
    width: 95%;
    margin: auto;
    
    
}
nav{
    border: none;
}
.hellopic{
    display: none;
}
.box1,.box2{
    width: 120px;
    height: 120px;
}
.hellominipic{
    margin-bottom: 3rem;
}
.hellobox p{
    font-size: 80%;
}

/* ABOUTUS!!!!!!! */
/* ABOUTUS!!!!!!! */
/* ABOUTUS!!!!!!! */
.invisible{
    display: none;
}
.container{
    display: block;
    width: 95%;
}
.aboutleft,.aboutright{
    width: 100%;
    
}
.aboutleft{
    text-align: center;
}
.aboutleft h1{
font-size: 250%;
text-align: left;
}
.abouttextbox{
    display: flex;
    text-align: center;
}
.abouttextbox .aboutlearnmore{
    display: flex;
    align-items: center;
}
.aboutlearnmore a{
    font-size: 100%;
}
.aboutright{
    margin-top: 1rem;
    height: 200px;
}
.aboutright .bi{
    font-size: 400%;
}


/* BLOG!!!!!!!!!!!!!! */
/* BLOG!!!!!!!!!!!!!! */
/* BLOG!!!!!!!!!!!!!! */
.invisible2{
    display: none;
}
.boxabout{
    display: none;
}
.boxblog{
    display: none;
}
.blog{
   display: block;
   text-align: center;
   margin: auto;
}
.blogleft{
    width: 100%;
}
.blogright{
    margin-top: 2rem;
    width: 100%;
    text-align: start;
    
}

.groups{
    display: block;
    width: 95%;
}
.pot{
    width: 90%;
}
.blogcontainer{
    width: 95%;
    margin: auto;
    
    
}
.blog{
    width: 100%;
    
}
.blogleft{
    text-align: center;
   
}
/* CONTACT!!!!!!! */
/* CONTACT!!!!!!! */
/* CONTACT!!!!!!! */

.invisible3{
    display: none;
}




}





